name: Xiaomi AX3000T

on:
  workflow_dispatch:  # Can run manually
  schedule:
    - cron:  '01 12 */20 * *'

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@main
              with:
                repository: 'openwrt/openwrt'
                ref: 'openwrt-24.10'
                
            - name: Free Disk Space
              uses: jlumbroso/free-disk-space@main
              with:
                tool-cache: true
                android: true
                dotnet: true
                haskell: true
                large-packages: true
                docker-images: true
                swap-storage: true
                
            - name: Install packages
              run: |
                sudo apt update -y && \
                sudo apt install -y \
                make git gcc g++ ack autoconf automake autopoint binutils bison \
                libncurses5-dev libncursesw5-dev build-essential bzip2 ccache cmake cpio \
                unzip bzip2 wget python3 file rsync gawk xz-utils curl device-tree-compiler \
                fastjar flex gettext gperf haveged help2man intltool libelf-dev libssl-dev \
                libtool lrzsz mkisofs nano ninja-build p7zip patch pkgconf wget vim xxd \
                software-properties-common
            
            - name: Generate config
              run: |
                echo "CONFIG_TARGET_mediatek=y\n" > .config
                echo "CONFIG_TARGET_mediatek_filogic=y\n" >> .config
                echo "CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t=y\n" >> .config
                echo "CONFIG_PACKAGE_luci=y\n" >> .config

                make defconfig

            - name: Download sources
              run: make download -j$(nproc)

            - name: Build tools
              run: make tools/install -j$(nproc)

            - name: Build toolchain
              run: make toolchain/install -j$(nproc)

            - name: Build images
              run: make -j$(nproc)

            - name: TAR output
              run: tar -cvf ax3000t-images.tar bin/targets/mediatek/filogic/

            - name: Upload artifacts
              uses: actions/upload-artifact@main
              with:
                name: ax3000t-images
                path: ax3000t-images.tar

    release:
          name: Make a release
          runs-on: ubuntu-latest
          needs: build

          steps:
            - name: Download artifacts
              uses: actions/download-artifact@main
              with:
                name: ax3000t-images

            - name: Extract artifacts
              run: tar xf ax3000t-images.tar

            - name: Get the current date
              run: echo "NOW=$(date +%F)" >> $GITHUB_ENV

            - name: Create a release
              uses: "marvinpinto/action-automatic-releases@latest"
              with:
                repo_token: "${{ github.token }}"
                prerelease: false
                title: "Xiaomi AX3000T v24.10"
                automatic_release_tag: "ax3000t-${{ env.NOW }}"
                files: bin/targets/mediatek/filogic/*
